h2.intro {
  color: purple;
}

p.intro {
  font-style: italic;
}

img.intro {
  width: 25%;
  float: left;
  margin-right: 20px;
  margin-bottom: 10px;
}

.intro {
  text-align: center;
}

div.beauty {
  text-align: left;
}

span {
  font-style: italic;

}